<div class="mb-20" style="min-height: calc(var(--min-height) * 1rem); --min-height: {{.minHeightRem}};">
  <div class="group relative flex flex-col pl-32 xl:flex-row xl:items-center">
    <i
      class="absolute top-0 -left-6 flex h-16 w-16 items-center justify-center rounded-full bg-blue shadow-dot shadow-blue duration-150 group-hover:-left-10 group-hover:h-24 group-hover:w-24 sm:top-1/2 sm:-translate-y-1/2"
    >
      <i class="h-12 w-12 rounded-full border-2 border-black bg-blue duration-150 group-hover:h-20 group-hover:w-20"> </i>
    </i>
    <span class="mr-20 font-mono text-16 font-bold tracking-widest text-white">{{ time.Format "2006.01" .date }}</span>
    <p class="text-16 font-light tracking-wider text-white-500">{{ .title | safeHTML }}</p>
  </div>
</div>
