{{ if .Primary }}
<div
  class="group flex flex-col-reverse items-center justify-between rounded-16 bg-black-500 pt-24 pb-12 duration-hover hover:bg-black-600 w-auto xl:w-164 h-auto xl:h-164"
>
  <h4 class="shrink-0 tracking-wider text-white-500 duration-hover group-hover:text-white text-12">{{ .Name }}</h4>
  <div class="mb-8 flex h-100 w-1/2 grow items-center justify-center">
    <img src="{{ .IconUrl }}" alt="{{ .Name }}" width="100" height="100" class="w-full" style="transform: scale(var(--scale)); --scale: {{ .Scale }}" />
  </div>
</div>
{{ else }}
<div
  class="group flex flex-col-reverse items-center justify-between rounded-16 bg-black-500 pt-24 pb-12 duration-hover hover:bg-black-600 w-auto xl:w-120 h-auto xl:h-120"
>
  <h4 class="shrink-0 tracking-wider text-white-500 duration-hover group-hover:text-white text-10">{{ .Name }}</h4>
  <div class="mb-8 flex h-100 w-1/2 grow items-center justify-center">
    <img src="{{ .IconUrl }}" alt="{{ .Name }}" width="100" height="100" class="w-full" style="transform: scale(var(--scale)); --scale: {{ .Scale }}" />
  </div>
</div>
{{ end }}
