@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  font-weight: 500;
}

body {
  font-size: 1.6rem;
  color: white;
  background: #111729;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
