---
import Layout from '../layouts/Layout.astro';
type SocialAccount = {
  label: string;
  url: string;
  iconUrl: string;
};
export const socialAccounts: SocialAccount[] = [
  {
    label: 'GitHub',
    url: 'https://github.com/reizt',
    iconUrl: '/social/github-white.svg',
  },
  {
    label: 'Qiita',
    url: 'https://qiita.com/reizt',
    iconUrl: '/social/qiita.png',
  },
  {
    label: 'Zenn',
    url: 'https://zenn.dev/reizt',
    iconUrl: '/social/zenn.svg',
  },
];
---

<Layout currentPath="/">
  <div class="px-16 xl:px-60">
    <section id="top" class="mx-auto flex w-full max-w-1000 flex-col-reverse justify-between xl:min-h-[calc(100vh-16rem)] xl:flex-row">
      <div class="w-full pt-32 xl:w-3/5 xl:pt-300">
        <small class="text-20 font-normal tracking-widest">Hello! I'm</small>
        <h1 class="mb-12 text-32 font-bold leading-tight tracking-widest xl:text-48">Reiju Takahashi</h1>
        <p class="text-16 font-light leading-snug tracking-widest text-white-500 mb-12">
          <span class="text-primary">Full stack</span> web application developer
        </p>
        <div class="flex gap-x-10">
          {
            socialAccounts.map((account) => (
              <a href={account.url} class="relative block w-48 h-48 rounded-12 p-6 bg-black-500 hover:bg-black-700 duration-150" title={account.label}>
                <img
                  src={account.iconUrl}
                  width="32"
                  height="32"
                  alt={account.label}
                  class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-32"
                />
              </a>
            ))
          }
        </div>
      </div>
      <div class="flex w-160 items-center pt-60 lg:w-200 xl:w-2/5 xl:pt-100">
        <div class="relative w-full overflow-hidden rounded-32 brightness-90">
          <img src="/me.webp" width="750" height="750" alt="Profile" class="w-full" />
        </div>
      </div>
    </section>
  </div>
</Layout>
