---
import Header from '../components/Header.astro';
import '../styles.css';

export interface Props {
  title?: string;
  currentPath: string;
}

const { title, currentPath } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{`${title != null ? `${title} | ` : ''}Reiju Takahashi`}</title>
    <meta name="description" content="Reiju Takahashi's portfolio" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap" rel="stylesheet" />
  </head>
  <body class="overflow-x-hidden vsc-initialized" cz-shortcut-listen="true">
    <Header currentPath={currentPath} />
    <slot />
  </body>
</html>
