<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
  <body class="overflow-x-hidden vsc-initialized" cz-shortcut-listen="true">
    {{ partial "google-analytics" . }}
    <br />
    {{ partial "header" }}
    <div class="px-16 xl:px-60">
      <section id="products" class="mx-auto flex min-h-full-screen-y w-full max-w-1000 flex-col py-60 xl:py-120 xl:pt-160">
        <h2 class="mb-20 text-32 font-bold leading-tight tracking-widest xl:text-48">Products</h2>
        <div class="mb-12 grid h-max grid-cols-1 gap-16 sm:grid-cols-2 md:grid-cols-1">
          {{ range .Site.Data.Products }} {{ partial "top/product" . }} {{ end }}
        </div>
      </section>
    </div>
  </body>
</html>
